---
import {getLang, translate} from "../i18n/";
const lang = getLang(Astro.url);
const t = translate(lang);
const frontendServices = t('services.frontend.content') as string[];
const backendServices = t('services.backend.content') as string[];
const consultancyServices = t('services.consultancy.content') as string[];
---
<section id="services" class="d-flex col-xxl-12 px-1 py-5 justify-content-center section-height">
    <div class="row flex-fill flex-lg-row align-items-center g-5 py-5">
        <div class="col-lg-12">
            <p class="fs-1 mb-3 flex-fill text-warning fw-light text-center section-title">
                {t('services.title')}
            </p>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-light fs-2 mb-3">
                        <i class="bi bi-stack"></i>
                    </div>
                    <h3 class="fs-2 text-body-emphasis text-light">{t('services.frontend.title')}</h3>
                    {
                        frontendServices.map((item) => (
                            <span class="badge bg-secondary me-1"> {item} </span>
                        ))
                    }
                    <!--<span class="badge bg-secondary">UI/UX implementation</span>-->
                    <!--<span class="badge bg-secondary">Architecture definition</span>-->
                    <!--<span class="badge bg-secondary">Web components</span>-->
                    <!--<span class="badge bg-secondary">Microfrontends concept</span>-->
                    <!--<span class="badge bg-secondary">HTML5</span>-->
                    <!--<span class="badge bg-secondary">JS/TS</span>-->
                    <!--<span class="badge bg-secondary">Vuejs</span>-->
                    <!--<span class="badge bg-secondary">Angular</span>-->
                    <!--<span class="badge bg-secondary">Bootstrap</span>-->
                    <!--<span class="badge bg-secondary">Material UI</span>-->
                    <!--<span class="badge bg-secondary">SASS/SCSS</span>-->
                    <!--<span class="badge bg-secondary">Webpack</span>-->
                    <!--<span class="badge bg-secondary">NPM/yarn/PNPM</span>-->
                    <!--<a href="#" class="icon-link">-->
                    <!--    Call to action-->
                    <!--    <svg class="bi"><use xlink:href="#chevron-right"></use></svg>-->
                    <!--</a>-->
                </div>
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-light fs-2 mb-3">
                        <i class="bi bi-code-square"></i>
                    </div>
                    <h3 class="fs-2 text-body-emphasis text-light">{t('services.backend.title')}</h3>
                    {
                        backendServices.map((item) => (
                            <span class="badge bg-secondary me-1"> {item} </span>
                        ))
                    }
                    <!--<span class="badge bg-secondary">API design</span>-->
                    <!--<span class="badge bg-secondary">API Implementation</span>-->
                    <!--<span class="badge bg-secondary">Microservices</span>-->
                    <!--<span class="badge bg-secondary">Event driven</span>-->
                    <!--<span class="badge bg-secondary">SQL/NoSQL dbs</span>-->
                    <!--<span class="badge bg-secondary">Architecture definition</span>-->
                    <!--<span class="badge bg-secondary">CI/CD</span>-->
                    <!--<span class="badge bg-secondary">System Design</span>-->
                    <!--<span class="badge bg-secondary">Nodejs/TS</span>-->
                    <!--<span class="badge bg-secondary">Bash</span>-->
                    <!--<span class="badge bg-secondary">Express</span>-->
                    <!--<span class="badge bg-secondary">Nestjs</span>-->
                    <!--<span class="badge bg-secondary">MongoDB/Mongoose</span>-->
                    <!--<span class="badge bg-secondary">Postgresql</span>-->
                    <!--<span class="badge bg-secondary">Redis</span>-->
                    <!--<span class="badge bg-secondary">RabbitMQ/Kafka</span>-->
                    <!--<span class="badge bg-secondary">Gitlab CI/CD</span>-->
                    <!--<span class="badge bg-secondary">Swagger</span>-->
                    <!--<span class="badge bg-secondary">Jest/Mocha/Chai/Sinon/Supertest</span>-->
                </div>
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-light fs-2 mb-3">
                        <i class="bi bi-tools"></i>
                    </div>
                    <h3 class="fs-2 text-body-emphasis text-light">{t('services.consultancy.title')}</h3>
                    {
                        consultancyServices.map((item) => (
                            <span class="badge bg-secondary me-1"> {item} </span>
                        ))
                    }
                    <!--<span class="badge bg-secondary">Digitalization support</span>-->
                    <!--<span class="badge bg-secondary">Process support</span>-->
                    <!--<span class="badge bg-secondary">Building up teams</span>-->
                    <!--<span class="badge bg-secondary">E-commerce support</span>-->
                    <!--<span class="badge bg-secondary">SAAS support</span>-->
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .section-title {
        position: relative;
        padding-bottom: 8px;
    }

    .section-title::after {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        width: 5vh;
        height: 1px;
        border-bottom: 7px solid #ffcc00;
        content: "";
    }
</style>